.task-table {
  width: 100%;
}
.table-head, .task-table-row { 
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.task-table-row {
  border-bottom: 1px solid #2c4574;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-row-checkbox {
  margin: 0 10px 0 0;
}

.table-td{
  box-sizing: border-box;
  padding: 10px;
}
