.task-table-row { 
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2c4574;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-row-checkbox {
  margin: 0 10px 0 0;
}

.table-row-delete {
  margin: 0 0 0 10px;
}

.table-td{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
}

