body {
  background-color: #141827;
  color:#ffffff;
}

body, .app-main, .app-header, .app-task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  background-color: #2c4574;
  height: 80px;
  width: 100vw;
}

.app-main {
  padding: 40px;
}

.app-task-form {
  flex-direction: column;
  margin-bottom: 30px;
}

.app-task-text, .app-task-time, .app-task-button {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  height: 25px;
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  padding: 0;
}

.app-task-time {
  padding-left: 30vw;
}

.app-task-text {
  padding-left: 10px;
}

.app-task-button {
  box-sizing: border-box;
  background-color: #2c4574;
  color:#ffffff;
  height: 40px;
  cursor: pointer;
}

.app-task-button:hover {
  background-color: #ffffff;
  color:#2c4574;
}

.app-task-board {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .app-task-form {
    flex-direction: row;
  }
  .app-task-time{
    width: 300px;
    padding-left: 10px;
  }
  .app-task-text, .app-task-time, .app-task-button {
    margin: 10px;
    height: 40px;
  }
  .app-task-board {
    width: 600px;
    font-size: 20px;
  }
}
